<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mas Template</title>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/
	html5.js"></script>
    <![endif]-->
	<link type="text/css" rel="stylesheet" href="../../css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="../../css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<div class="logo">
				<img class="logo-img" src="../../images/logo.png"/>
			</div>
		</header>
		<section>
			<div class="views-container">
				<div class="row">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 vertical-nav">
						<ul class="nav navbar-nav">
						  <li class="active"><a href="#"><span class="glyphicon glyphicon-menu-left"></span></a></li>
						  <li ><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
						  <li ><a href="#"><span class="glyphicon glyphicon-map-marker"></span></a></li>
						  <li ><a href="#"><span class="glyphicon glyphicon-credit-card"></span></a></li>
						</ul> 
      
        
       
					</div><!--ends vertical-nav tag-->
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						
					</div>
				</div>
			
			</div><!--ends views-container tag-->
		</section>
	</div><!--ends container tag-->
	<script type="text/javascript" src="../../js/vendor/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="../../js/vendor/angular.min.js"></script>
	<script type="text/javascript" src="../../js/vendor/bootstrap.min.js"></script>
</body>
</html>